.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gestione {
  margin: 15%;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.error {
  color: red;
}


